<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de categorías</title>
</head>
<body>
<div>
    <h1>Lista de categorías</h1>
    <a th:href="@{/categorias/nueva}">Crear nueva categoría</a>

    <div th:if="${param.error}" style="color: white; background: red;">
        <strong>ERROR:</strong> No se puede eliminar esta categoría porque tiene productos asociados.
    </div>

    <div th:if="${categorias.isEmpty()}">
        <p>No hay categorías disponibles en este momento.</p>
    </div>

    <table th:unless="${categorias.isEmpty()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody th:each="categoria : ${categorias}">
        <tr>
            <td th:text="${categoria.id}"></td>
            <td th:text="${categoria.nombre}"></td>
            <td th:text="${#strings.isEmpty(categoria.descripcion) ? 'Sin descripción' : categoria.descripcion}"></td>
            <!--<td th:text="${categoria.descripcion != null ? categoria.descripcion : 'Sin descripción'}"></td>-->
            <td>
                <a th:href="@{/categorias/{id}(id=${categoria.id})}">Ver detalle</a>
                <a th:href="@{/categorias/{id}/editar(id=${categoria.id})}">Editar</a>
                <form th:action="@{/categorias/{id}/eliminar(id=${categoria.id})}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>