<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de productos</title>
</head>
<body>
        <h1>Listado de productos</h1>
        <button type="button">Crear nuevo producto</button>

        <div th:if="${productos.isEmpty()}">
            <p>No hay productos disponibles en este momento.</p>
        </div>

        <table th:unless="${productos.isEmpty()}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Disponible</th>
                <th>Categoría</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${#numbers.formatDecimal(producto.precio, 1, 2)} + ' €'"></td>
                    <td th:text="${producto.stock} + (${producto.stock == 1} ? ' Ud.' : ' Uds.')"></td>
                    <td th:text="${producto.disponible ? 'Sí' : 'No'}"></td>
                    <td th:text="${producto.categoria != null ? producto.categoria.nombre : 'Sin categoría'}"></td>
                    <td>
                        <button type="button">Ver detalle</button>
                        <button type="button">Editar</button>
                        <button type="button">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>